<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impresion castle</title>
    <link rel="shortcut icon" href="icono.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/per.css">
</head>
<body>
    <main id  = "navegador-web--main">
        <nav>
            <ul id ="navegador-web--ul">
                <img src="/static/img/icono.png" alt="" class="logo_nav" width= 20px>
                <li><a href="/index.html">Inicio</a></li>
            </ul>
        </nav>
    </main>
<body>
    
